* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, a, button, input {
	font-family: Poppins; 
}
header {
	font-size: 1em; 
	
}
@media only screen and (min-width: 310px) {
	/* Introduction Styling */ 
	body {
		background: #1dcaff;

	}
	.Introduction {
		width: 80%;
		margin: auto;
		text-align: center;
		margin-top: 1em;
	}
	.Introduction h1 {
	font-size: 2em;
	font-weight: 700;
}
	.Introduction h2 {
	font-weight: 400;
	width: 100%;
	font-size: 1.2em;
	margin: auto;
	margin-top: 1em;
}
	.Introduction h3 {
	font-style: italic;
	margin-top: 1em;
	font-size: 1em;
	width: 100%;
}
	/* styling the input  */
/* styling the input  */
	.User-Input-Wrapper {
	width: 60%;
	margin: auto;
	text-align: center;
}
	.text {
	display: block;
	width: 110%;
	font-size: 1.2em;
	margin-left: -.4em;
	border-radius: 20px;
	padding:1%;
	background: white;
	border: none;
	text-align: center;
	margin-top: 1.5em;
}
	.radio-wrapper {
		display: grid; 
		grid-template-columns: 1fr 1fr 1fr;
		text-align: center;
		margin-top: 3em;
	}
	.radio {
		display: grid; 
		grid-template-columns: 40% 1fr; 
	}
	.radio p {
		text-align: right;
		font-size: 1.2em;
	}
	.radiobutton {
		margin:  10px 0 0px 20px ;
		
		
	}
	button {
	width: 100%;
	padding: 1%;
	border: none;
	border-radius: 7px;
	font-size: 1.5em;
	cursor: pointer;
	background: white;
		margin-top: 2em;
	
	
}
/* syling the method boxes */
	.method-wrapper {
		display: grid;
		grid-template-columns: 1fr;
		width: 100%; 
	}
	.each-method {
		display: grid;
		grid-template-columns: 60% 1fr;
		margin-top: 2em;
	}
	.each-method p {
		text-align: right;
		font-size: 1em;
		
	}
	.each-method input {
		margin: 4px 0 0 1em;; 
	}
/* styling the footer */
	.Footer-Wrapper {
	width: 100%;
	background: black;
	height: 7em;
	margin-top: 5em;
	color: white;
	text-align: center;
}
	.Footer-Wrapper h6 {
	padding: 2.6% 0 0 0;
	font-size: 1em;
	font-weight: 100;
}
/* Styling the answer result*/
	#answer {
	font-size: 4em;
	margin-top: 1em;
	font-weight: 300;
	display: block;
	color: black;
}

	
	
}
@media only screen and (min-width: 375px) {
	/* Introduction Styling */ 
	body {
		background: #1dcaff;

	}
	.Introduction {
		width: 80%;
		margin: auto;
		text-align: center;
		margin-top: 1em;
	}
	.Introduction h1 {
	font-size: 2em;
	font-weight: 700;
}
	.Introduction h2 {
	font-weight: 400;
	width: 100%;
	font-size: 1.2em;
	margin: auto;
	margin-top: 1em;
}
	.Introduction h3 {
	font-style: italic;
	margin-top: 1em;
	font-size: 1em;
	width: 100%;
}
	/* styling the input  */
/* styling the input  */
	.User-Input-Wrapper {
	width: 60%;
	margin: auto;
	text-align: center;
}
	.text {
	display: block;
	width: 110%;
	font-size: 1.2em;
	margin-left: -.4em;
	border-radius: 20px;
	padding:1%;
	background: white;
	border: none;
	text-align: center;
	margin-top: 1.5em;
}
	.radio-wrapper {
		display: grid; 
		grid-template-columns: 1fr 1fr 1fr;
		text-align: center;
		margin-top: 3em;
	}
	.radio {
		display: grid; 
		grid-template-columns: 40% 1fr; 
	}
	.radio p {
		text-align: right;
		font-size: 1.2em;
	}
	.radiobutton {
		margin:  10px 0 0px 20px ;
		
		
	}
	button {
	width: 100%;
	padding: 1%;
	border: none;
	border-radius: 7px;
	font-size: 1.5em;
	cursor: pointer;
	background: white;
		margin-top: 2em;
	
	
}
/* syling the method boxes */
	.method-wrapper {
		display: grid;
		grid-template-columns: 1fr;
		width: 100%; 
	}
	.each-method {
		display: grid;
		grid-template-columns: 60% 1fr;
		margin-top: 2em;
	}
	.each-method p {
		text-align: right;
		font-size: 1em;
		
	}
	.each-method input {
		margin: 4px 0 0 1em;; 
	}
/* styling the footer */
	.Footer-Wrapper {
	width: 100%;
	background: black;
	height: 7em;
	margin-top: 5em;
	color: white;
	text-align: center;
}
	.Footer-Wrapper h6 {
	padding: 2.6% 0 0 0;
	font-size: 1em;
	font-weight: 100;
}
/* Styling the answer result*/
	#answer {
	font-size: 4em;
	margin-top: 1em;
	font-weight: 300;
	display: block;
	color: black;
}

	
	
}
@media only screen and (min-width: 1000px) {
	/* Introduction Styling */ 
	.Introduction {
	width: 80%;
	margin: auto;
	text-align: center;
	margin-top: 1em;
}
	.Introduction h1 {
	font-size: 4.5em;
	font-weight: 700;
}
	.Introduction h2 {
	font-weight: 400;
	width: 70%;
	margin: auto;
}
	.Introduction h3 {
	font-style: italic;
	margin-top: 1em;
}
/* styling the input  */
	.User-Input-Wrapper {
	width: 60%;
	margin: auto;
	text-align: center;
}
	.text {
	display: block;
	width: 90%;
	font-size: 2.5em;
	margin: 1em;
	border-radius: 20px;
	padding:1%;
	background: white;
	border: 1px solid #1dcaff;
	text-align: center;
}
	.radio-wrapper {
		display: grid; 
		grid-template-columns: 1fr 1fr 1fr;
		text-align: center;
	}
	.radio {
		display: grid; 
		grid-template-columns: 40% 1fr; 
	}
	.radio p {
		text-align: right;
		font-size: 1.3em;
	}
	.radiobutton {
		margin:  4% 0 0 1em;
		
		
	}
	button {
	width: 60%;
	padding: 1%;
	border: none;
	border-radius: 7px;
	font-size: 1.5em;
	cursor: pointer;
	
	
}
/* syling the method boxes */
	.method-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.each-method {
		display: grid;
		grid-template-columns: 60% 1fr;
		margin: 100px; 
	}
	.each-method p {
		text-align: right;
		
	}
	.each-method input {
		margin: 4px 0 0 1em;; 
	}
/* styling the footer */
	.Footer-Wrapper {
	width: 100%;
	background: black;
	height: 7em;
	margin-top: 5em;
	color: white;
	text-align: center;
}
	.Footer-Wrapper h6 {
	padding: 2.6% 0 0 0;
	font-size: 1em;
	font-weight: 100;
}
/* Styling the answer result*/
	#answer {
	font-size: 4em;
	margin-top: 1em;
	font-weight: 300;
	display: block;
	color: black;
}



	
}




